.contactItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  padding: 8px;
  width: 300px;
  border-radius: 4px;
}

.button {
  padding: 5px;
}
