.contactContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  padding: 8px;
  width: 300px;
  border-radius: 4px;
}

.contactData {
  display: flex;
  flex-direction: column;
}

.icon {
  margin-right: 5px;
}

.contactBtnDelete {
  padding: 5px;
  background-color: orangered;
  border-radius: 8px;
}
