.wrapper {
  display: flex;
  gap: 30px;
  align-items: center;
}

.title {
  opacity: 0.9;
  background: rgb(154, 62, 62);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -2.455px;
  margin-left: auto;
  margin-right: auto;
}

.btnLogout {
  border-radius: 5px;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
  color: orange;
  font-family: Inter;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  outline: none;
}
